<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h1 ng-bind="channel.name"></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <div class="row">
                    <div class="col-md-7" id="scrollArea" schroll-bottom="channel.messages">
                        <div class="row messageBody" ng-repeat="message in channel.messages track by $index">
                            <messages-element></messages-element>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <input-message></input-message>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>