.no-whitespace {
    padding: 0;
    margin: 0;
}

#scrollArea {
    height: 280px;
    word-wrap: break-word;
    overflow: auto;
}

.message {
    word-wrap: break-word;
}

.messageBody{
    width: 600px;
}



